; Default env, use for every build
[env:wifi]
build_flags = 
	'-DDEVICE_NAME="toggl_buddy"'
	'-DSSID_AP_1="ssid_from_AP_1"'
	'-DPW_AP_1="your_password_for_AP_1"'
	'-DSSID_AP_2="ssid_from_AP_2"'
	'-DPW_AP_2="your_password_for_AP_2"'
	'-DSSID_AP_3="ssid_from_AP_3"'
	'-DPW_AP_3="your_password_for_AP_3"'
;	'-DSSID_AP_4="ssid_from_AP_4"'
;	'-DPW_AP_4="your_password_for_AP_4"'
